.details-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .details-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .details-image {
    width: 100%;
    border-radius: 5px;
    height: 300px;
  }
  
  .close-button {
    background: #2c7c2c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .button , 
  .close-button{
    background: #2c7c2c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
  } 

  .details-card > p ,
  .details-card > h3 {
    background: #2c7c2c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  .details-card > p:hover , 
  .details-card > h3:hover{
    background: #245d24;
  }
  
  .close-button:hover {
    background: #b9450f;
  }
  