/* Background */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://www.pontevedra.com/sites/default/files/styles/card_large/public/2023-10/2023%20PVIC%20OCEAN%209%20Angle%204%20web.png?h=8254d03c&itok=IXDfjVSq") no-repeat center center/cover;
  }
  
  /* Register */
  .register-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
  }
  
  /* Title */
  .login-box h2 {
    color: #2c7c2c;
    margin-bottom: 1rem;
  }
  
  /* Input */
  .input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: white;
    margin-bottom: 1rem;
  }
  
  .input-group .icon {
    color: #2c7c2c;
    margin-right: 10px;
  }
  
  .input-group input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
  }

  button:hover {
    background: #245d24;
  }
  